main {
    h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
        font-family: @family-default;
        display: block;
    }

    h1, .h1 {
        font-size: 3.4rem;
    }

    h2, .h2 {
        font-size: 2rem;
    }

    h3, .h3 {
        font-size: 2.6rem;
    }

    h4, .h4 {
        font-size: 2rem;
    }

    h5, .h5 {
        font-size: 1.8rem;
    }

    a, p, span {
        //font-family: @family-raleway;
        font-size: 1.6rem;
    }

    a {
        cursor: pointer;
        display: block;
    }

    .btn {
        display: inline-block;
        cursor: pointer;
    }

    .btn-fondbleu {
        background-color: #164194;
        padding: 1rem 3rem;
        border: none;
        color: @blanc;
    }

    .btn-detail {
        font-family: @family-open;
        font-size: 1.2rem;
        color: #292F4E;
        margin: 3rem 0;
        display: block;
        text-align: right;
    }

    .reduction {
        width: 55px;
        height: 30px;
        background-color: #E30613;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 2rem;
        right: 2rem;

        .btn-reduction {
            font-size: 1.3rem;
            color: @blanc;
            font-family: @family-open;
            font-weight: bold;
        }
    }

    a:not(.btn) {

    }

    .slick-slider {
        button {
            &.slick-prev {

            }

            &.slick-next {

            }
        }

        ul.slick-dots {
            padding: 0;
            margin: 0;
            position: absolute;
            bottom: 3rem;
            left: 0;
            right: 0;
            text-align: center;

            li {
                display: inline-block;

                &::before {
                    content: '';
                    display: inline-block;
                    width: 3rem;
                    height: 4px;
                    -webkit-border-radius: 60px;
                    -moz-border-radius: 60px;
                    border-radius: 60px;
                    background-color: rgba(151, 151, 151, 0.3);
                    margin: 0 0.5rem;
                }

                button {
                    border: none;
                    -webkit-appearance: none;
                    font-size: 0;
                    background-color: transparent;
                    color: @blanc;
                    position: absolute;
                }

                &.slick-active {
                    &::before {
                        background-color: #979797;
                    }
                }
            }
        }
    }

    #panierRond{
        background-color: red;
        color: white;
        border-radius: 50%;
        position: absolute;
        left: 25px;
        bottom: 0px;
        padding: 3px 5px;
        font-size: 1rem;
        display: none;
    }
    #coeurRond{
        display: none;
        padding: 3px 5px;
        background-color: red;
        color: red;
        border-radius: 50%;
        font-size: 1rem;
        position: absolute;
        left: 25px;
        bottom: 0px;
    }

    &.singleproduit {
        > article {
            > header {
                #slider-singleproduit {
                    img {
                        width: 100%;
                        height: auto;
                        overflow: hidden;
                    }

                    .slick-slide {
                        position: relative;
                    }
                }
            }

            > section {
                padding: 2.5rem;

                > header {
                    display: flex;
                    flex-direction: column;

                    .couleur {
                        display: flex;
                        flex-flow: row nowrap;
                        align-items: center;

                        > p {
                            font-size: 1.2rem;
                            font-family: @family-open;
                            color: #A0A0A0;
                            margin-right: 1.5rem;
                        }

                        > div {
                            display: flex;
                            flex-flow: row nowrap;

                            > div {
                                width: 30px;
                                height: 30px;
                                -webkit-border-radius: 3px;
                                -moz-border-radius: 3px;
                                border-radius: 3px;
                            }

                            > div:first-of-type {
                                background-color: #2B2E35;
                                margin-right: 0.5rem;
                            }

                            > div:last-of-type {
                                background-color: #4c3a41;
                                margin-left: 0.5rem;
                            }
                        }
                    }

                    h1 {
                        font-size: 1.8rem;
                        font-family: @family-open;
                        font-weight: bold;
                        color: @noir;
                        margin-bottom: 0;
                        position: relative;

                        &::after {
                            content: '\f08a';
                            font-family: FontAwesome;
                            color: #FF8080;
                            font-size: 2rem;
                            position: absolute;
                            right: 0;
                        }
                    }

                    h3 {
                        font-size: 1.3rem;
                        font-family: @family-open;
                        text-transform: uppercase;
                        color: #A0A0A0;
                    }

                    .etoile {
                        display: flex;
                        flex-flow: row nowrap;
                        align-items: center;

                        > div {
                            display: flex;
                            flex-flow: row nowrap;
                        }

                        p {
                            margin: 0;
                            font-family: @family-open;
                            font-size: 13px;
                            color: #164194;
                            margin-left: 1rem;
                        }
                    }

                    .description-produit {
                        font-size: 14px;
                        color: @noir;
                        font-family: @family-open;
                    }
                }

                > section {
                    > section.caracteristique {
                        h2 {
                            text-transform: uppercase;
                            color: #164194;
                            font-weight: lighter;
                        }

                        table {
                            width: 100%;
                            border-collapse: collapse;

                            tr {
                                th:first-of-type {
                                    font-weight: bold;
                                }

                                th {
                                    color: @noir;
                                    font-weight: lighter;
                                    text-align: left;
                                    padding: 0.8rem 0;
                                    padding-left: 0.5rem;
                                }

                                &:nth-child(even) {
                                    background-color: #f3f3f3;
                                }
                            }
                        }
                    }

                    > section.avis {
                        h2 {
                            text-transform: uppercase;
                            color: #164194;
                            font-weight: lighter;
                        }

                        > div {
                            display: flex;
                            flex-flow: row nowrap;
                            background-color: #f3f3f3;
                            padding: 2rem;
                            align-items: center;

                            > div {
                                text-align: center;

                                &:first-of-type {
                                    flex-basis: 40%;
                                    position: relative;

                                    &::after {
                                        content: '';
                                        position: absolute;
                                        right: 0;
                                        top: 0;
                                        height: 100%;
                                        width: 2px;
                                        background-color: #ededed;
                                    }

                                    span, p {
                                        color: #164194;
                                        font-family: @family-open;
                                    }

                                    span {
                                        font-size: 2rem;
                                        font-weight: bold;
                                    }

                                    p {
                                        font-weight: bolder;
                                        margin: 0;
                                    }
                                }

                                &:last-of-type {
                                    flex-basis: 60%;

                                    p {
                                        color: #13932E;
                                        font-family: @family-open;
                                        font-size: 1.4rem;
                                        font-weight: bolder;
                                        text-align: left;
                                        padding-left: 2.5rem;

                                        span {
                                            font-weight: bold;
                                            font-size: 2.2rem;
                                        }
                                    }
                                }
                            }
                        }

                        > article {
                            h4 {
                                font-family: @family-open;
                                font-weight: bold;
                                font-size: 1.4rem;
                                color: @noir;
                                margin-bottom: 0;
                            }

                            > div {
                                display: flex;
                                flex-flow: row nowrap;
                                align-items: center;

                                &:first-of-type {
                                    margin: 0.5rem 0;
                                }

                                > span {
                                    font-family: @family-open;
                                    font-size: 1.2rem;
                                    color: #A0A0A0;
                                    margin-left: 1.5rem;
                                }

                                > p {
                                    font-size: 1.3rem;
                                    font-family: @family-open;
                                    font-weight: bolder;
                                    color: #13932E;
                                    margin: 0;

                                    &::before {
                                        content: '\f00c';
                                        display: inline-block;
                                        font-family: FontAwesome;
                                        margin-right: 0.5rem;
                                    }
                                }
                            }

                            > p {
                                font-size: 1.3rem;
                                font-family: @family-open;
                                color: @noir;
                            }
                        }
                    }

                    > section.more-article {
                        h2 {
                            text-transform: uppercase;
                            color: #164194;
                            font-weight: lighter;
                        }

                        #more-article {
                            .slick-slide {
                                padding: 1.5rem;

                                img {
                                    max-width: 100%;
                                    height: auto;
                                    overflow: hidden;
                                }

                                h5 {
                                    font-family: @family-open;
                                    font-weight: bold;
                                    font-size: 1.1rem;
                                    color: @noir;
                                    margin-bottom: 0;
                                }

                                h6 {
                                    font-family: @family-open;
                                    font-size: 1.1rem;
                                    color: #A8A8A7;
                                    margin-top: 0.5rem;
                                    margin-bottom: 0;
                                    text-transform: uppercase;
                                }

                                > div {
                                    display: flex;
                                    flex-flow: row nowrap;
                                    align-items: center;

                                    > div {
                                        color: @noir;
                                        font-family: @family-open;

                                        &:first-of-type {
                                            flex: 1;

                                            p {
                                                display: inline-block;
                                                position: relative;

                                                &::before {
                                                    content: '';
                                                    width: 100%;
                                                    height: 1px;
                                                    background-color: #E60000;
                                                    position: absolute;
                                                    top: 50%;
                                                    bottom: 0;
                                                }
                                            }
                                        }

                                        &:last-of-type {
                                            p {
                                                color: #E60000;
                                                font-weight: bold;
                                            }
                                        }

                                        p {
                                            font-size: 1.1rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            > footer {
                position: fixed;
                width: 100%;
                bottom: 0;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                height: 45px;

                > div {
                    &:last-of-type {
                        width: 70%;

                        a {
                            display: block;
                            text-decoration: none;
                            text-align: center;
                            height: 45px;
                            padding-top: 1.5rem;
                        }
                    }

                    &:first-of-type {
                        background-color: #f3f3f3;
                        width: 30%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        > p {
                            margin: 0;

                            &:first-of-type {
                                display: inline-block;
                                position: relative;
                                color: @noir;

                                &::before {
                                    content: '';
                                    width: 100%;
                                    height: 1px;
                                    background-color: #E60000;
                                    position: absolute;
                                    top: 50%;
                                    bottom: 0;
                                }
                            }

                            &:last-of-type {
                                color: #E60000;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }

    &.choix {
        > article {
            > header {
                position: relative;

                &::after {
                    content: 'x';
                    position: absolute;
                    top: 1.5rem;
                    right: 2rem;
                    color: @noir;
                    font-weight: bold;
                    cursor: pointer;
                    font-size: 3rem;
                }

                img {
                    width: 100%;
                }

                > p {
                    position: absolute;
                    top: 4.5rem;
                    right: 7rem;
                    color: @noir;
                    font-weight: bold;

                    &::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        background-color: red;
                        top: 50%;
                    }
                }

                .reduction {
                    top: 8.5rem;
                    right: 6rem;
                }
            }

            > section {
                padding: 2.5rem;

                .choix-couleur {
                    h2 {
                        color: @noir;
                        font-weight: bold;
                        font-family: @family-open;
                    }

                    > div {
                        display: flex;
                        flex-flow: row wrap;
                        align-items: center;
                        justify-content: left;

                        > div {
                            width: 7rem;
                            height: 7rem;
                            -webkit-border-radius: 15px;
                            -moz-border-radius: 15px;
                            border-radius: 15px;
                            overflow: hidden;
                            border: 2px solid #164194;
                            margin-right: 1.5rem;

                            img {
                                max-width: 100%;
                                height: auto;
                            }
                        }
                    }
                }

                .choix-taille {
                    h2 {
                        margin-top: 3rem;
                        color: @noir;
                        font-weight: bold;
                        font-family: @family-open;
                    }

                    > div {
                        display: flex;
                        flex-flow: row wrap;
                        align-items: center;

                        > div {
                            background-color: #e8e8e8;
                            margin: 0.5rem;
                            text-align: center;
                            -webkit-border-radius: 5px;
                            -moz-border-radius: 5px;
                            border-radius: 5px;
                            padding: 1rem 1.5rem;

                            &.disabled {
                                background-color: #f8f8f8;

                                > p {
                                    color: #c1c1c1;
                                }
                            }

                            &.active {
                                background-color: #164194;

                                > p {
                                    color: @blanc;
                                }
                            }


                            > p {
                                color: @noir;
                                margin: 0;
                            }
                        }
                    }
                }

                .choix-article {
                    h2 {
                        margin-top: 3rem;
                        color: @noir;
                        font-weight: bold;
                        font-family: @family-open;
                    }

                    > div {
                        display: flex;
                        flex-flow: row nowrap;
                        align-items: center;

                        > span {
                            border: 2px solid #e2e2e2;
                            width: 4rem;
                            height: 4rem;
                            color: @noir;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 3rem;
                            -webkit-border-radius: 5px;
                            -moz-border-radius: 5px;
                            border-radius: 5px;
                            cursor: pointer;
                        }

                        > p {
                            color: #164194;
                            font-size: 3rem;
                            font-weight: bold;
                            margin: 0 1.5rem;
                        }
                    }
                }

                .choix-livraison {
                    h2 {
                        margin-top: 3rem;
                        color: @noir;
                        font-weight: bold;
                        font-family: @family-open;
                        margin-bottom: 0;
                    }

                    > span {
                        color: #aeaead;
                        font-family: @family-open;
                        font-size: 1.5rem;
                        margin: 0;
                    }

                    > div {
                        background-color: #f3f3f3;
                        padding: 2rem 1.5rem;
                        margin-top: 1.5rem;
                        -webkit-border-radius: 5px;
                        -moz-border-radius: 5px;
                        border-radius: 5px;

                        p.reserver {
                            color: @noir;
                            font-family: @family-open;
                            font-weight: bold;
                            margin: 0;
                            margin-bottom: 1rem;
                        }

                        .input {
                            position: relative;

                            input {
                                background-color: @blanc;
                                -webkit-border-radius: 5px;
                                -moz-border-radius: 5px;
                                border-radius: 5px;
                                border: none;
                                width: 100%;
                                height: 30px;
                            }

                            &::after {
                                content: '\f002';
                                position: absolute;
                                right: 0;
                                font-family: FontAwesome;
                                z-index: 10;
                                color: @noir;
                                top: 50%;
                                -webkit-transform: translate(-50%, -50%);
                                -moz-transform: translate(-50%, -50%);
                                -ms-transform: translate(-50%, -50%);
                                -o-transform: translate(-50%, -50%);
                                transform: translate(-50%, -50%);
                            }
                        }

                        > p {
                            color: #1a9c37;
                            text-transform: uppercase;
                            font-weight: lighter;
                            margin-bottom: 0;
                        }
                    }
                }

                .choix-lieu {
                    background-color: #f3f3f3;
                    padding: 2rem 1.5rem;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    border-radius: 5px;
                    margin-top: 3rem;

                    h2 {
                        color: @noir;
                        font-family: @family-open;
                        font-weight: bold;
                        margin: 0;
                        margin-bottom: 1rem;
                    }

                    > p {
                        color: #1a9c37;
                        text-transform: uppercase;
                        font-weight: lighter;
                        margin-bottom: 0;
                    }
                }
            }

            > footer {
                width: 100%;
                position: fixed;
                bottom: 0;

                button {
                    background-color: #164194;
                    color: @blanc;
                    width: 100%;
                    border: none;
                    padding: 1.5rem 0;
                    cursor: pointer;
                    font-weight: bold;
                }
            }
        }
    }

    &.tunnel-achat {
        background-color: #f2f2f2;
        //height: 100vh;

        > article {
            padding: 2.5rem;
            min-height: 100vh;

            .statement {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;

                > p {

                }
            }

            > section {
                h2 {
                    text-transform: uppercase;
                    color: #164194;
                    font-weight: lighter;
                }

                &#step2, &#step3, &#step4 {
                    .displayMore {
                        background-color: @blanc;
                        -webkit-border-radius: 15px;
                        -moz-border-radius: 15px;
                        border-radius: 15px;
                        margin-bottom: 2rem;
                        position: relative;
                        overflow: hidden;

                        > div {
                            > div {
                                display: flex;
                                flex-flow: row wrap;
                                align-items: center;

                                &::before {

                                }

                                &.active {
                                    &::after {
                                        content: '';
                                        display: block;
                                        width: 100%;
                                        height: 1px;
                                        background-color: @noir;
                                        margin: 2rem 0;
                                    }
                                }

                                > div {
                                    &::after {
                                        content: '\f054';
                                        font-family: FontAwesome;
                                        position: absolute;
                                        right: 1.5rem;
                                        color: #143f90;
                                        top: 5rem;
                                        font-size: 2rem;
                                        -webkit-transform: translate(-50%, -50%);
                                        -moz-transform: translate(-50%, -50%);
                                        -ms-transform: translate(-50%, -50%);
                                        -o-transform: translate(-50%, -50%);
                                        transform: translate(-50%, -50%);
                                    }

                                    > p {
                                        color: #242b49;
                                        font-family: @family-open;
                                        font-weight: bold;
                                        margin: 0;
                                        margin-bottom: 1rem;
                                    }

                                    > span {
                                        color: #515151;
                                        text-transform: uppercase;
                                        font-family: @family-open;
                                    }
                                }
                            }
                        }

                        button {
                            display: none;
                        }

                        &.active {
                            > button {
                                display: block;
                                background-color: #164194;
                                width: 100%;
                                border: none;
                                padding: 1.5rem 0;
                                color: @blanc;
                                font-weight: bold;
                            }
                        }
                    }

                    .hide {
                        > section {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            width: 100%;

                            > div {
                                margin-bottom: 1.5rem;
                                width: 100%;

                                label {
                                    text-transform: uppercase;
                                    color: #4d4d4d;
                                    display: block;
                                    font-family: @family-open;
                                    margin-bottom: 1rem;

                                    sup {
                                        color: #164091;
                                        font-weight: bold;
                                    }
                                }

                                input {
                                    -webkit-border-radius: 60px;
                                    -moz-border-radius: 60px;
                                    border-radius: 60px;
                                    background-color: #e8f0fe;
                                    width: 100%;
                                    border: none;
                                    padding: 1rem 0;

                                    &::placeholder {
                                        color: #787b82;
                                        font-family: @family-open;
                                        padding-left: 1.5rem;
                                    }
                                }

                                > p {
                                    font-weight: bold;
                                }

                                > a {
                                    color: #9b9b9b;
                                    text-align: left;
                                    font-size: 1.6rem;
                                    margin-bottom: 0;
                                }

                                > span {
                                    display: block;
                                }
                            }
                        }
                    }

                    h3 {
                        color: #3c3c3b;
                        font-family: @family-open;
                        font-weight: bold;
                        font-size: 1.6rem;
                        margin-top: 3rem;
                    }
                }

                &#step3, &#step4 {
                    .displayMore {
                        &.active {
                            background-color: #164194;

                            > div {
                                .active {
                                    > div {
                                        &::after {
                                            color: @blanc;
                                        }

                                        p {
                                            color: @blanc;
                                        }

                                        span {
                                            color: #d8d8d8;
                                        }
                                    }
                                }
                            }
                        }

                        > div {
                            > div {
                                > div {
                                    display: flex;
                                    flex-flow: row nowrap;
                                    align-items: center;

                                    > div {
                                        padding-left: 1.5rem;

                                        > p {
                                            color: #242b49;
                                            font-family: @family-open;
                                            font-weight: bold;
                                            margin: 0;
                                            margin-bottom: 1rem;
                                        }

                                        > span {
                                            color: #515151;
                                            text-transform: uppercase;
                                            font-family: @family-open;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    > footer {
                        width: 100%;
                        position: fixed;
                        bottom: 0;
                        left: 0;

                        button {
                            background-color: #164194;
                            color: @blanc;
                            width: 100%;
                            border: none;
                            padding: 1.5rem 0;
                            cursor: pointer;
                            font-weight: bold;
                        }
                    }
                }

                &#step4 {
                    .recap {
                        background-color: @blanc;
                        padding: 1.5rem;
                        display: flex;
                        flex-direction: column;

                        > div {
                            display: flex;
                            flex-flow: row nowrap;
                            align-items: center;

                            > div {
                                &:first-child {
                                    flex: 1;
                                }

                                > p {
                                    color: @noir;
                                    margin-bottom: 0;
                                    font-family: @family-open;
                                }

                                > div {
                                    display: flex;
                                    flex-flow: row nowrap;
                                    align-items: center;

                                    > p {
                                        color: #6b6b6b;
                                        font-size: 1.2rem;
                                        margin: 0 0.5rem;
                                        font-family: @family-open;

                                        &:first-child {
                                            margin-left: 0;
                                        }
                                    }
                                }
                            }
                        }

                        .total {
                            flex-flow: row wrap;

                            &::before {
                                content: '';
                                width: 100%;
                                display: block;
                                height: 2px;
                                background-color: #ebebeb;
                                margin: 1.5rem 0;

                            }

                            > div {
                                display: flex;
                                flex-flow: row nowrap;
                                justify-content: space-between;

                                > div {
                                    p {
                                        color: #164194;
                                        margin-bottom: 0;
                                        font-family: @family-open;
                                        font-weight: bold;
                                        font-size: 1.6rem;
                                    }
                                }
                            }
                        }

                        > p {
                            color: #363c58;
                            font-family: @family-open;
                            margin: 0;
                        }
                    }

                    .hide {
                        > section {
                            flex-direction: inherit;
                            flex-flow: row wrap;

                            > div {
                                &.numero {
                                    width: 70%;

                                    input {
                                        width: 90%;
                                    }
                                }

                                &.cvc {
                                    width: 30%;
                                }

                                label {
                                    color: @blanc;

                                    sup {
                                        color: @blanc;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .modal {
                width: 100%;
                height: 100vh;
                background-color: rgba(0, 0, 0, 0.5);
                display: none;
                position: fixed;
                top: 0;
                left: 0;

                .modal-dialog {
                    background-color: @blanc;
                    padding: 3rem;
                    -webkit-border-radius: 15px;
                    -moz-border-radius: 15px;
                    border-radius: 15px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    -moz-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    -o-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    width: 70%;

                    .modal-content {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        .modal-header {
                            text-align: center;

                            > span {
                                color: #143f90;
                                text-transform: uppercase;
                                font-size: 2.2rem;
                                display: block;
                                margin-top: 2rem;
                            }

                            h5 {
                                font-weight: bold;
                                font-family: @family-open;
                                color: @noir;
                                font-size: 1.5rem;
                                margin-bottom: 1rem;
                            }

                            > p {
                                color: @noir;
                                margin-top: 0;
                            }

                            > button {
                                padding: 1.5rem 4rem;
                                -webkit-border-radius: 60px;
                                -moz-border-radius: 60px;
                                border-radius: 60px;
                                -webkit-box-shadow: 0 3px 6px rgba(20, 63, 144, 0.3);
                                -moz-box-shadow: 0 3px 6px rgba(20, 63, 144, 0.3);
                                box-shadow: 0 3px 6px rgba(20, 63, 144, 0.3);
                            }
                        }
                    }
                }

                &.show {
                    display: block;
                }
            }
        }
    }

    &.homepage {
        .section1 {
            position: relative;

            img {
                max-width: 100%;
            }

            > div {
                display: flex;
                flex-flow: row wrap;
                position: absolute;
                width: 85%;
                right: 0;
                left: 0;
                margin: 0 auto;
                bottom: -3rem;
                background-color: @blanc;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                padding: 2rem 1.5rem;
                -webkit-box-shadow: 0 3px 6px rgba(#ebebec, 0.5);
                -moz-box-shadow: 0 3px 6px rgba(#ebebec, 0.5);
                box-shadow: 0 3px 6px rgba(#ebebec, 0.5);

                &::after {
                    content: '\f054';
                    font-family: FontAwesome;
                    position: absolute;
                    right: 1rem;
                    font-size: 2rem;
                    color: #143f90;
                    top: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    -moz-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    -o-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                }

                p {
                    color: #242b49;
                    font-weight: bold;
                    font-family: @family-open;
                    margin: 0;
                }

                span {
                    color: #7a7a7a;
                }
            }
        }

        .section2 {
            padding: 1.5rem;
            padding-top: 3rem;

            h2 {
                text-transform: uppercase;
                color: #164194;
                font-weight: lighter;
                line-height: 1.3;
            }

            img {
                max-width: 100%;
            }

            a {
                text-transform: uppercase;
                color: #164194;
                font-size: 1.4rem;
                margin: 0;
                margin-top: 1rem;
            }
        }

        .section3 {
            h2 {
                text-transform: uppercase;
                color: #164194;
                font-weight: lighter;
                line-height: 1.3;
                padding-left: 1.5rem;
            }

            #more-article {
                .slick-slide {
                    padding: 1.5rem;

                    a {
                        text-decoration: none;

                        img {
                            max-width: 100%;
                            height: auto;
                            overflow: hidden;
                        }

                        h5 {
                            font-family: @family-open;
                            font-weight: bold;
                            font-size: 1.1rem;
                            color: @noir;
                            margin-bottom: 0;
                        }

                        h6 {
                            font-family: @family-open;
                            font-size: 1.1rem;
                            color: #A8A8A7;
                            margin-top: 0.5rem;
                            margin-bottom: 0;
                            text-transform: uppercase;
                        }

                        > div {
                            display: flex;
                            flex-flow: row nowrap;
                            align-items: center;

                            > div {
                                color: @noir;
                                font-family: @family-open;

                                &:first-of-type {
                                    flex: 1;

                                    p {
                                        display: inline-block;
                                        position: relative;

                                        &::before {
                                            content: '';
                                            width: 100%;
                                            height: 1px;
                                            background-color: #E60000;
                                            position: absolute;
                                            top: 50%;
                                            bottom: 0;
                                        }
                                    }
                                }

                                &:last-of-type {
                                    p {
                                        color: #E60000;
                                        font-weight: bold;
                                    }
                                }

                                p {
                                    font-size: 1.1rem;
                                }
                            }
                        }
                    }
                }
            }
        }

        .section4 {
            h2 {
                text-transform: uppercase;
                color: #164194;
                font-weight: lighter;
                line-height: 1.3;
                padding-left: 1.5rem;
            }

            #meilleur-prix {
                img {
                    width: 100%;
                }

                .slick-slide {
                    position: relative;
                    padding: 0 1.5rem;

                    > div {
                        position: absolute;
                        bottom: 1.5rem;
                        right: 0;
                        left: 0;
                        text-align: center;
                        display: flex;
                        justify-content: space-between;
                        padding: 0 3.5rem;

                        button {
                            -webkit-border-radius: 60px;
                            -moz-border-radius: 60px;
                            border-radius: 60px;
                        }
                    }
                }
            }
        }

        .section5 {
            margin: 6rem 0;
        }

        .section6 {
            h2 {
                text-transform: uppercase;
                color: #164194;
                font-weight: lighter;
                line-height: 1.3;
                padding-left: 1.5rem;
                text-align: center;
            }

            > a {
                text-transform: uppercase;
                color: #164194;
                margin-right: 1.5rem;
            }
        }

        .section7 {
            padding: 1.5rem;

            h2 {
                text-transform: uppercase;
                color: #164194;
                font-weight: lighter;
                line-height: 1.3;
                padding-left: 1.5rem;
            }

            img {
                max-width: 100%;
            }
        }
    }
}

.showbtn {
    display: block !important;
}

#miniStep1, #miniStep2, #miniStep3, #miniStep4 {
    h3 {
        color: #143f90 !important;
        text-transform: uppercase;
        font-size: 1.9rem;
        margin: 10px 0 25px !important;
    }

    .suivantMiniStep {
        display: block !important;
        color: #143f90;
        background: none;
        font-size: 1.3rem;
        box-shadow: 0px 0px 0px transparent;
        border: 0px solid transparent;
        text-shadow: 0px 0px 0px transparent;
        text-decoration: underline;
        text-align: right;
        margin: 40px 0 0;
        float: right;
    }

    #datenaissance {
        width: 60%;
    }

    .radiochoice {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem !important;

        input {
            margin-right: 5px;
            width: inherit !important;
        }

        div {
            display: flex;
            margin-right: 35px;

            div {
                display: flex;
                align-items: center;

            }
        }

        label {
            margin: 0 !important;
        }
    }
}

.inline2 {
    display: flex;
    justify-content: space-between;
}

button, input, optgroup, select, textarea {
    font-size: 1.2rem;
}

.champNews {
    label {
        font-size: 1.4rem;
        text-transform: inherit !important;
    }

    > div {
        justify-content: inherit !important;
        margin-top: 2rem !important;

        label {
            font-size: 1.2rem;
            text-transform: inherit !important;
        }

        div {
            margin-left: 25px;
        }
    }
}