main {
    h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
        font-family: @family-open;
        letter-spacing: 0.5rem;
        display: block;
    }

    h1, .h1 {
        font-size: 2.5rem;
        line-height: 2.5rem;
        color: #4D4D4D;
    }

    h2, .h2 {
        font-size: 3rem;
        line-height: 3.6rem;
        color: #3C3C3B;
    }

    h3, .h3 {
        font-size: 2.6rem;
    }

    h4, .h4 {
        font-size: 3rem;
        line-height: 4.2rem;
        color: #164194;
    }

    h5, .h5 {
        font-size: 1.8rem;
    }

    a, p, span {
        //font-family: @family-raleway;
        font-size: 1.6rem;
    }
}