@font-face {
  font-family: 'open_sansregular';
  src: url('fonts/opensans-regular-webfont.woff2') format('woff2'), url('fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.woff2') format('woff2'), url('fonts/fontawesome-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
header {
  padding: 1.5rem 2.5rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
header > div {
  flex-basis: 50%;
}
header > div ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
header > div ul li {
  padding: 0 1.5rem;
}
header > div .menu-burger {
  display: block;
  cursor: pointer;
  border: none;
  background-color: #ffffff;
}
header > div .menu-burger:focus {
  outline: none;
}
header > div .menu-burger span.burger {
  display: inline-block;
  width: 2.5rem;
  height: 0.2rem;
  background-color: #242B49;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
}
header > div .menu-burger span.burger::before {
  content: '';
  background-color: #242B49;
  height: 0.2rem;
  left: 0;
  position: absolute;
  width: 2.5rem;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: ease;
  top: -0.6rem;
}
header > div .menu-burger span.burger::after {
  top: 0.6rem;
  background-color: #242B49;
  content: '';
  height: 0.2rem;
  left: 0;
  position: absolute;
  width: 2.5rem;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: ease;
}
header > div .menu-burger span.menu-title {
  font-size: 0;
}
header > div .menu-burger.active span.burger {
  background-color: transparent;
}
header > div .menu-burger.active span.burger::before {
  top: 0;
  transform: rotate(-45deg);
}
header > div .menu-burger.active span.burger::after {
  top: 0;
  transform: rotate(45deg);
}
header > div nav ul {
  display: none;
}
header > div nav.active ul:first-of-type {
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  text-align: left;
  padding: 2.5rem 0;
  padding-left: 2.5rem;
}
header > div nav.active ul:first-of-type li {
  padding: 1.5rem 0;
  position: relative;
  width: calc(100% - 2.5rem);
}
header > div nav.active ul:first-of-type li::after {
  content: '\f054';
  font-family: 'FontAwesome';
  position: absolute;
  right: 1.5rem;
  margin-right: 1rem;
  font-size: 1.6rem;
  color: #242b49;
}
header > div nav.active ul:first-of-type li a {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  color: #242b49;
}
header > div:last-of-type {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
main h1,
main h2,
main h3,
main h4,
main h5,
main .h1,
main .h2,
main .h3,
main .h4,
main .h5 {
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: 0.5rem;
  display: block;
}
main h1,
main .h1 {
  font-size: 3.4rem;
}
main h2,
main .h2 {
  font-size: 3rem;
}
main h3,
main .h3 {
  font-size: 2.6rem;
}
main h4,
main .h4 {
  font-size: 2rem;
}
main h5,
main .h5 {
  font-size: 1.8rem;
}
main a,
main p,
main span {
  font-size: 1.6rem;
}
html {
  height: 100%;
  font-size: calc(1em * 0.625);
  scroll-behavior: smooth;
}
body {
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  color: #ffffff;
}
@media only screen and (min-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
  }
  body #wrapper {
    flex: 1 0 auto;
  }
  body #footer {
    flex-shrink: 0;
  }
}
body noscript div {
  margin: 0 1em;
}
body .txt-center {
  text-align: center;
}
body .txt-right {
  text-align: right;
}
body .txt-left {
  text-align: left;
}
body .d-flex {
  display: flex;
}
body a {
  cursor: pointer;
  display: block;
}
/*# sourceMappingURL=main.css.map */